<div class="tab-pane active" role="tabpanel" id="step4">
    <div class="col-md-6">
        <h3>Avaliação do Profissional</h3>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Ruim
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Normal
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Boa
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Muito Boa
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Excelente
            </label>
        </div>
    </div>
    
    
    <div class="col-md-6">
        <h3>Avaliação do Gestor</h3>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Ruim
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Normal
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Boa
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Muito Boa
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Excelente
            </label>
        </div>
    </div>
</div>